/* PC */
@media (min-width: 992px) {
  .header_top-title {
    font-size: 18px;
  }

  .header_logo {
    width: 120px;
  }

  .header_input {
    min-width: 450px;
  }
}

/* tablet & mobile */
@media (max-width: 991.98px) {
  .header_top {
    justify-content: center;
  }
  .header-top_right {
    display: none;
  }
  .header_input {
    min-width: 200px;
  }
  .title-category {
    text-align: center;
  }
  .info-detail > a,
  .contact-number > a {
    width: 62%;
  }
  .main-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
  }
  .info-footer,
  .support-footer,
  .contact-footer {
    max-width: 50%;
  }
}

/* tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
  .product-relate {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 30px;
  }
  .img-details{
    min-width: 45%;
  }
  .image-details{
    width: 100%;
  }
  .detail-pr_card{
    min-width: 45%;
  }
  .img-relate{
    width: 100%;
  }
}

/* mobile */
@media (max-width: 767.98px) {
  .header-top_right {
    display: none;
  }

  .header_top {
    justify-content: center;
    height: 24px;
  }

  .header_top-title {
    font-size: 12px;
  }

  .header_logo {
    width: 80px;
  }

  .header_input {
    display: none;
  }
  .header_info {
    display: none;
  }
  .header_cart {
    position: absolute;
    right: 0;
    border-radius: 50%;
    font-size: 14px;
  }
  .header-content {
    position: relative;
    justify-content: center;
  }
  .header-icon_search {
    display: none;
  }
  .icon-menu {
    display: block;
    position: absolute;
    left: 0;
    font-size: 24px;
  }

  /* main */
  .main-content-left {
    display: none;
  }
  .main-content-right {
    width: 100%;
    margin-left: 0;
  }

  .image-product {
    width: 100%;
    height: auto;
  }
  .title-category {
    font-size: 16px;
  }
  .list-product {
    grid-template-columns: 1fr;
  }
  .card-product {
    width: 100%;
    border: 0;
    border-bottom: 1px #ccc solid;
  }
  .main-content {
    margin-top: 20px;
  }
  .nav-links {
    justify-content: flex-start;
    list-style: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 60%;
    bottom: 0;
    background: rgba(141, 134, 134, 0.7);
    padding-top: 30px;
    z-index: 3;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  .nav-links.show {
    transform: translateX(0); /* Hiện navbar */
  }
  .hidden {
    display: none;
  }
  .nav-item {
    padding-left: 4px;
  }
  .nav-link {
    display: inline-block;
    width: 100%;
    padding: 12px 0 12px 12px;
    font-size: 12px;
    color: #fff;
  }
  .nav-link:hover {
    color: #fff;
  }
  .list-news {
    display: grid;
    grid-template-columns: 1fr;
  }
  .card-news {
    max-width: 100%;
    margin-bottom: 40px;
  }
  /* footer */
  .main-footer {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 20px;
    row-gap: 20px;
  }
  .info-footer,
  .support-footer,
  .contact-footer {
    max-width: 100%;
  }
  .item-info-footer {
    padding-bottom: 6px;
  }
  .title-support {
    padding-bottom: 12px;
  }
  .footer-bottom {
    height: 24px;
  }
  .icon-link {
    width: 24px;
    margin-top: -6px;
  }
  .copy-right {
    font-size: 14px;
    margin-left: 4px;
  }
  .icon_copy-right {
    font-size: 14px;
  }

  /*  */
  .info-detail {
    flex-direction: column;
  }
  .image-details {
    width: 100%;
    margin-bottom: 20px;
  }
  .product-relate {
    flex-direction: column;
    row-gap: 40px;
  }
  .detail-name_pr {
    font-size: 16px;
    margin-top: 10px;
  }
  .policy-detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .detail-desc > p {
    margin-bottom: 10px;
    line-height: 1.6;
  }
}
